body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u41981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  background:inherit;
  background-color:rgba(245, 247, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41981 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u41982 {
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 142, 212, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41983 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:60px;
}
#u41984 {
  position:absolute;
  left:2px;
  top:22px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:1020px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41985 {
  position:absolute;
  left:0px;
  top:60px;
  width:200px;
  height:1020px;
}
#u41986 {
  position:absolute;
  left:2px;
  top:502px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41987 {
  position:absolute;
  left:0px;
  top:70px;
  width:109px;
  height:165px;
}
#u41987_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41988 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u41989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u41989 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u41989_img.selected {
}
#u41989.selected {
}
#u41990 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41991 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u41992 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u41988_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u41993 {
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u41994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41994 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u41995 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u41996 {
  position:absolute;
  left:20px;
  top:40px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u41997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41997 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u41998 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u41999 {
  position:absolute;
  left:20px;
  top:60px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42000 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u42001 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u42002 {
  position:absolute;
  left:0px;
  top:20px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u42003 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u42003_img.selected {
}
#u42003.selected {
}
#u42004 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42005 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u42006 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u42002_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42007 {
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008ED4;
}
#u42008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42008 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u42009 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u42010 {
  position:absolute;
  left:20px;
  top:40px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42011 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u42012 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u42013 {
  position:absolute;
  left:20px;
  top:60px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42014 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u42015 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u42016 {
  position:absolute;
  left:0px;
  top:100px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u42017 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u42017_img.selected {
}
#u42017.selected {
}
#u42018 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42019 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u42020 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u42016_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u42021 {
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42022 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u42023 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u42024 {
  position:absolute;
  left:20px;
  top:40px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42025 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u42026 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u42027 {
  position:absolute;
  left:20px;
  top:60px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42028 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u42029 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u42030 {
  position:absolute;
  left:0px;
  top:120px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u42031 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u42031_img.selected {
}
#u42031.selected {
}
#u42032 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42033 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u42034 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u42030_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u42035 {
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42036 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u42037 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u42038 {
  position:absolute;
  left:20px;
  top:40px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42039 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u42040 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u42041 {
  position:absolute;
  left:20px;
  top:60px;
  width:94px;
  height:20px;
  font-size:11px;
  color:#000000;
}
#u42042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42042 {
  position:absolute;
  left:22px;
  top:0px;
  width:72px;
  height:20px;
}
#u42043 {
  position:absolute;
  left:3px;
  top:3px;
  width:67px;
  white-space:nowrap;
}
#u42044 {
  position:absolute;
  left:20px;
  top:80px;
  width:103px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42045 {
  position:absolute;
  left:22px;
  top:0px;
  width:81px;
  height:20px;
}
#u42046 {
  position:absolute;
  left:3px;
  top:2px;
  width:76px;
  white-space:nowrap;
}
#u42047 {
  position:absolute;
  left:20px;
  top:100px;
  width:100px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42048 {
  position:absolute;
  left:22px;
  top:0px;
  width:78px;
  height:20px;
}
#u42049 {
  position:absolute;
  left:3px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u42050 {
  position:absolute;
  left:0px;
  top:140px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u42051 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u42051_img.selected {
}
#u42051.selected {
}
#u42052 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42053 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u42054 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u42050_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u42055 {
  position:absolute;
  left:20px;
  top:20px;
  width:112px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42056 {
  position:absolute;
  left:22px;
  top:0px;
  width:90px;
  height:20px;
}
#u42057 {
  position:absolute;
  left:3px;
  top:2px;
  width:85px;
  white-space:nowrap;
}
#u42058 {
  position:absolute;
  left:20px;
  top:40px;
  width:112px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42059 {
  position:absolute;
  left:22px;
  top:0px;
  width:90px;
  height:20px;
}
#u42060 {
  position:absolute;
  left:3px;
  top:2px;
  width:85px;
  white-space:nowrap;
}
#u42061 {
  position:absolute;
  left:20px;
  top:60px;
  width:112px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42062 {
  position:absolute;
  left:22px;
  top:0px;
  width:90px;
  height:20px;
}
#u42063 {
  position:absolute;
  left:3px;
  top:2px;
  width:85px;
  white-space:nowrap;
}
#u42064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u42064 {
  position:absolute;
  left:51px;
  top:15px;
  width:100px;
  height:30px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u42065 {
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  white-space:nowrap;
}
#u42066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u42066 {
  position:absolute;
  left:1642px;
  top:0px;
  width:39px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u42067 {
  position:absolute;
  left:0px;
  top:22px;
  width:39px;
  word-wrap:break-word;
}
#u42068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u42068 {
  position:absolute;
  left:1681px;
  top:0px;
  width:39px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u42069 {
  position:absolute;
  left:0px;
  top:22px;
  width:39px;
  word-wrap:break-word;
}
#u42070 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42071 {
  position:absolute;
  left:1458px;
  top:72px;
  width:168px;
  height:32px;
}
#u42071_input {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:32px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u42072 {
  position:absolute;
  left:1280px;
  top:72px;
  width:168px;
  height:32px;
}
#u42072_input {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:32px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
}
#u42072_input:disabled {
  color:grayText;
}
#u42073 {
  position:absolute;
  left:1636px;
  top:72px;
  width:168px;
  height:32px;
}
#u42073_input {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:32px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u42074 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42075 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
}
#u42076 {
  position:absolute;
  left:1794px;
  top:1022px;
  width:29px;
  height:17px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
}
#u42077 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u42078 {
  position:absolute;
  left:1552px;
  top:1020px;
  width:100px;
  height:22px;
}
#u42078_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
}
#u42078_input:disabled {
  color:grayText;
}
#u42079 {
  position:absolute;
  left:1826px;
  top:1020px;
  width:60px;
  height:22px;
}
#u42079_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u42080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
}
#u42080 {
  position:absolute;
  left:1889px;
  top:1022px;
  width:15px;
  height:17px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
}
#u42081 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u42082 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#DDDDDD;
  text-align:center;
}
#u42083 {
  position:absolute;
  left:1684px;
  top:1022px;
  width:15px;
  height:19px;
  font-size:16px;
  color:#DDDDDD;
  text-align:center;
}
#u42084 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u42085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u42085 {
  position:absolute;
  left:1684px;
  top:1022px;
  width:15px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u42086 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u42087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00ACFF;
  text-align:center;
}
#u42087 {
  position:absolute;
  left:1684px;
  top:1022px;
  width:15px;
  height:19px;
  font-size:16px;
  color:#00ACFF;
  text-align:center;
}
#u42088 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u42089 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#DDDDDD;
  text-align:center;
}
#u42090 {
  position:absolute;
  left:1705px;
  top:1022px;
  width:15px;
  height:19px;
  font-size:16px;
  color:#DDDDDD;
  text-align:center;
}
#u42091 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u42092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00ACFF;
  text-align:center;
}
#u42092 {
  position:absolute;
  left:1705px;
  top:1022px;
  width:15px;
  height:19px;
  font-size:16px;
  color:#00ACFF;
  text-align:center;
}
#u42093 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u42094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u42094 {
  position:absolute;
  left:1705px;
  top:1022px;
  width:15px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u42095 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u42096 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#DDDDDD;
  text-align:center;
}
#u42097 {
  position:absolute;
  left:1725px;
  top:1022px;
  width:15px;
  height:19px;
  font-size:16px;
  color:#DDDDDD;
  text-align:center;
}
#u42098 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u42099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00ACFF;
  text-align:center;
}
#u42099 {
  position:absolute;
  left:1725px;
  top:1022px;
  width:15px;
  height:19px;
  font-size:16px;
  color:#00ACFF;
  text-align:center;
}
#u42100 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u42101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u42101 {
  position:absolute;
  left:1725px;
  top:1022px;
  width:15px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u42102 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u42103 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#DDDDDD;
  text-align:center;
}
#u42104 {
  position:absolute;
  left:1745px;
  top:1022px;
  width:15px;
  height:19px;
  font-size:16px;
  color:#DDDDDD;
  text-align:center;
}
#u42105 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u42106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00ACFF;
  text-align:center;
}
#u42106 {
  position:absolute;
  left:1745px;
  top:1022px;
  width:15px;
  height:19px;
  font-size:16px;
  color:#00ACFF;
  text-align:center;
}
#u42107 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u42108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u42108 {
  position:absolute;
  left:1745px;
  top:1022px;
  width:15px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u42109 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u42110 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u42111 {
  position:absolute;
  left:1770px;
  top:1023px;
  width:9px;
  height:16px;
}
#u42112 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u42113 {
  position:absolute;
  left:1770px;
  top:1023px;
  width:9px;
  height:16px;
}
#u42114 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u42115 {
  position:absolute;
  left:1770px;
  top:1023px;
  width:9px;
  height:16px;
}
#u42116 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42117 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u42118 {
  position:absolute;
  left:1668px;
  top:1023px;
  width:9px;
  height:16px;
  color:#555555;
}
#u42119 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u42120 {
  position:absolute;
  left:1668px;
  top:1023px;
  width:9px;
  height:16px;
  color:#555555;
}
#u42121 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u42122 {
  position:absolute;
  left:1668px;
  top:1023px;
  width:9px;
  height:16px;
  color:#555555;
}
#u42123 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42124 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
}
#u42125 {
  position:absolute;
  left:1478px;
  top:1022px;
  width:61px;
  height:17px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
}
#u42126 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u42127 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42128 {
  position:absolute;
  left:212px;
  top:115px;
  width:1688px;
  height:895px;
}
#u42128_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1688px;
  height:895px;
}
#u42129 {
  position:absolute;
  left:214px;
  top:118px;
  width:1671px;
  height:53px;
}
#u42130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:48px;
}
#u42130 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:48px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42131 {
  position:absolute;
  left:2px;
  top:16px;
  width:66px;
  word-wrap:break-word;
}
#u42132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:48px;
}
#u42132 {
  position:absolute;
  left:70px;
  top:0px;
  width:280px;
  height:48px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42133 {
  position:absolute;
  left:2px;
  top:16px;
  width:276px;
  word-wrap:break-word;
}
#u42134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1016px;
  height:48px;
}
#u42134 {
  position:absolute;
  left:350px;
  top:0px;
  width:1016px;
  height:48px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42135 {
  position:absolute;
  left:2px;
  top:16px;
  width:1012px;
  word-wrap:break-word;
}
#u42136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:48px;
}
#u42136 {
  position:absolute;
  left:1366px;
  top:0px;
  width:100px;
  height:48px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42137 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u42138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:48px;
}
#u42138 {
  position:absolute;
  left:1466px;
  top:0px;
  width:200px;
  height:48px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42139 {
  position:absolute;
  left:2px;
  top:16px;
  width:196px;
  word-wrap:break-word;
}
#u42140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 142, 212, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42140 {
  position:absolute;
  left:1820px;
  top:72px;
  width:84px;
  height:32px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42140_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 172, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42140.mouseOver {
}
#u42140_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(221, 221, 221, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42140.disabled {
}
#u42141 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u42142 {
  position:absolute;
  left:200px;
  top:0px;
  width:1134px;
  height:60px;
}
#u42142_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:1140px;
  height:66px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u42143 {
  position:absolute;
  left:0px;
  top:0px;
  width:1139px;
  height:65px;
}
#u42144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u42144 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u42145 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u42146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u42146 {
  position:absolute;
  left:126px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u42147 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u42148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u42148 {
  position:absolute;
  left:252px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u42149 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u42150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u42150 {
  position:absolute;
  left:378px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u42151 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u42152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u42152 {
  position:absolute;
  left:504px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u42153 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u42154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u42154 {
  position:absolute;
  left:630px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u42155 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u42156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u42156 {
  position:absolute;
  left:756px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u42157 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u42158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u42158 {
  position:absolute;
  left:882px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFF00;
}
#u42159 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u42160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u42160 {
  position:absolute;
  left:1008px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u42161 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u42162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 142, 212, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42162 {
  position:absolute;
  left:214px;
  top:70px;
  width:84px;
  height:32px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42162_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 172, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42162.mouseOver {
}
#u42162_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(221, 221, 221, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42162.disabled {
}
#u42163 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
