body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u42114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  background:inherit;
  background-color:rgba(245, 247, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42114 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u42115 {
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 142, 212, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42116 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:60px;
}
#u42117 {
  position:absolute;
  left:2px;
  top:22px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:1020px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42118 {
  position:absolute;
  left:0px;
  top:60px;
  width:200px;
  height:1020px;
}
#u42119 {
  position:absolute;
  left:2px;
  top:502px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42120 {
  position:absolute;
  left:0px;
  top:70px;
  width:109px;
  height:165px;
}
#u42120_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42121 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u42122 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u42122_img.selected {
}
#u42122.selected {
}
#u42123 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42124 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u42125 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u42121_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u42126 {
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42127 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u42128 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u42129 {
  position:absolute;
  left:20px;
  top:40px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42130 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u42131 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u42132 {
  position:absolute;
  left:20px;
  top:60px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42133 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u42134 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u42135 {
  position:absolute;
  left:0px;
  top:20px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u42136 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u42136_img.selected {
}
#u42136.selected {
}
#u42137 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42138 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u42139 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u42135_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42140 {
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008ED4;
}
#u42141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42141 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u42142 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u42143 {
  position:absolute;
  left:20px;
  top:40px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42144 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u42145 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u42146 {
  position:absolute;
  left:20px;
  top:60px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42147 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u42148 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u42149 {
  position:absolute;
  left:0px;
  top:100px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u42150 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u42150_img.selected {
}
#u42150.selected {
}
#u42151 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42152 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u42153 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u42149_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u42154 {
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42155 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u42156 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u42157 {
  position:absolute;
  left:20px;
  top:40px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42158 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u42159 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u42160 {
  position:absolute;
  left:20px;
  top:60px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42161 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u42162 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u42163 {
  position:absolute;
  left:0px;
  top:120px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u42164 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u42164_img.selected {
}
#u42164.selected {
}
#u42165 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42166 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u42167 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u42163_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u42168 {
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42169 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u42170 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u42171 {
  position:absolute;
  left:20px;
  top:40px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42172 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u42173 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u42174 {
  position:absolute;
  left:20px;
  top:60px;
  width:94px;
  height:20px;
  font-size:11px;
  color:#000000;
}
#u42175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42175 {
  position:absolute;
  left:22px;
  top:0px;
  width:72px;
  height:20px;
}
#u42176 {
  position:absolute;
  left:3px;
  top:3px;
  width:67px;
  white-space:nowrap;
}
#u42177 {
  position:absolute;
  left:20px;
  top:80px;
  width:103px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42178 {
  position:absolute;
  left:22px;
  top:0px;
  width:81px;
  height:20px;
}
#u42179 {
  position:absolute;
  left:3px;
  top:2px;
  width:76px;
  white-space:nowrap;
}
#u42180 {
  position:absolute;
  left:20px;
  top:100px;
  width:100px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42181 {
  position:absolute;
  left:22px;
  top:0px;
  width:78px;
  height:20px;
}
#u42182 {
  position:absolute;
  left:3px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u42183 {
  position:absolute;
  left:0px;
  top:140px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u42184 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u42184_img.selected {
}
#u42184.selected {
}
#u42185 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42186 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u42187 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u42183_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u42188 {
  position:absolute;
  left:20px;
  top:20px;
  width:112px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42189 {
  position:absolute;
  left:22px;
  top:0px;
  width:90px;
  height:20px;
}
#u42190 {
  position:absolute;
  left:3px;
  top:2px;
  width:85px;
  white-space:nowrap;
}
#u42191 {
  position:absolute;
  left:20px;
  top:40px;
  width:112px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42192 {
  position:absolute;
  left:22px;
  top:0px;
  width:90px;
  height:20px;
}
#u42193 {
  position:absolute;
  left:3px;
  top:2px;
  width:85px;
  white-space:nowrap;
}
#u42194 {
  position:absolute;
  left:20px;
  top:60px;
  width:112px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42195 {
  position:absolute;
  left:22px;
  top:0px;
  width:90px;
  height:20px;
}
#u42196 {
  position:absolute;
  left:3px;
  top:2px;
  width:85px;
  white-space:nowrap;
}
#u42197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u42197 {
  position:absolute;
  left:51px;
  top:15px;
  width:100px;
  height:30px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u42198 {
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  white-space:nowrap;
}
#u42199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u42199 {
  position:absolute;
  left:1642px;
  top:0px;
  width:39px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u42200 {
  position:absolute;
  left:0px;
  top:22px;
  width:39px;
  word-wrap:break-word;
}
#u42201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u42201 {
  position:absolute;
  left:1681px;
  top:0px;
  width:39px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u42202 {
  position:absolute;
  left:0px;
  top:22px;
  width:39px;
  word-wrap:break-word;
}
#u42203 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42204 {
  position:absolute;
  left:1458px;
  top:72px;
  width:168px;
  height:32px;
}
#u42204_input {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:32px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u42205 {
  position:absolute;
  left:1280px;
  top:72px;
  width:168px;
  height:32px;
}
#u42205_input {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:32px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
}
#u42205_input:disabled {
  color:grayText;
}
#u42206 {
  position:absolute;
  left:1636px;
  top:72px;
  width:168px;
  height:32px;
}
#u42206_input {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:32px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u42207 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42208 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
}
#u42209 {
  position:absolute;
  left:1794px;
  top:1022px;
  width:29px;
  height:17px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
}
#u42210 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u42211 {
  position:absolute;
  left:1552px;
  top:1020px;
  width:100px;
  height:22px;
}
#u42211_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
}
#u42211_input:disabled {
  color:grayText;
}
#u42212 {
  position:absolute;
  left:1826px;
  top:1020px;
  width:60px;
  height:22px;
}
#u42212_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u42213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
}
#u42213 {
  position:absolute;
  left:1889px;
  top:1022px;
  width:15px;
  height:17px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
}
#u42214 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u42215 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#DDDDDD;
  text-align:center;
}
#u42216 {
  position:absolute;
  left:1684px;
  top:1022px;
  width:15px;
  height:19px;
  font-size:16px;
  color:#DDDDDD;
  text-align:center;
}
#u42217 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u42218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u42218 {
  position:absolute;
  left:1684px;
  top:1022px;
  width:15px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u42219 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u42220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00ACFF;
  text-align:center;
}
#u42220 {
  position:absolute;
  left:1684px;
  top:1022px;
  width:15px;
  height:19px;
  font-size:16px;
  color:#00ACFF;
  text-align:center;
}
#u42221 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u42222 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#DDDDDD;
  text-align:center;
}
#u42223 {
  position:absolute;
  left:1705px;
  top:1022px;
  width:15px;
  height:19px;
  font-size:16px;
  color:#DDDDDD;
  text-align:center;
}
#u42224 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u42225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00ACFF;
  text-align:center;
}
#u42225 {
  position:absolute;
  left:1705px;
  top:1022px;
  width:15px;
  height:19px;
  font-size:16px;
  color:#00ACFF;
  text-align:center;
}
#u42226 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u42227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u42227 {
  position:absolute;
  left:1705px;
  top:1022px;
  width:15px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u42228 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u42229 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#DDDDDD;
  text-align:center;
}
#u42230 {
  position:absolute;
  left:1725px;
  top:1022px;
  width:15px;
  height:19px;
  font-size:16px;
  color:#DDDDDD;
  text-align:center;
}
#u42231 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u42232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00ACFF;
  text-align:center;
}
#u42232 {
  position:absolute;
  left:1725px;
  top:1022px;
  width:15px;
  height:19px;
  font-size:16px;
  color:#00ACFF;
  text-align:center;
}
#u42233 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u42234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u42234 {
  position:absolute;
  left:1725px;
  top:1022px;
  width:15px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u42235 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u42236 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#DDDDDD;
  text-align:center;
}
#u42237 {
  position:absolute;
  left:1745px;
  top:1022px;
  width:15px;
  height:19px;
  font-size:16px;
  color:#DDDDDD;
  text-align:center;
}
#u42238 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u42239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00ACFF;
  text-align:center;
}
#u42239 {
  position:absolute;
  left:1745px;
  top:1022px;
  width:15px;
  height:19px;
  font-size:16px;
  color:#00ACFF;
  text-align:center;
}
#u42240 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u42241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u42241 {
  position:absolute;
  left:1745px;
  top:1022px;
  width:15px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u42242 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u42243 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u42244 {
  position:absolute;
  left:1770px;
  top:1023px;
  width:9px;
  height:16px;
}
#u42245 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u42246 {
  position:absolute;
  left:1770px;
  top:1023px;
  width:9px;
  height:16px;
}
#u42247 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u42248 {
  position:absolute;
  left:1770px;
  top:1023px;
  width:9px;
  height:16px;
}
#u42249 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42250 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u42251 {
  position:absolute;
  left:1668px;
  top:1023px;
  width:9px;
  height:16px;
  color:#555555;
}
#u42252 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u42253 {
  position:absolute;
  left:1668px;
  top:1023px;
  width:9px;
  height:16px;
  color:#555555;
}
#u42254 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u42255 {
  position:absolute;
  left:1668px;
  top:1023px;
  width:9px;
  height:16px;
  color:#555555;
}
#u42256 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42257 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
}
#u42258 {
  position:absolute;
  left:1478px;
  top:1022px;
  width:61px;
  height:17px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
}
#u42259 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u42260 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42261 {
  position:absolute;
  left:212px;
  top:115px;
  width:1688px;
  height:895px;
}
#u42261_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1688px;
  height:895px;
}
#u42262 {
  position:absolute;
  left:214px;
  top:118px;
  width:1671px;
  height:53px;
}
#u42263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:48px;
}
#u42263 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:48px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42264 {
  position:absolute;
  left:2px;
  top:16px;
  width:66px;
  word-wrap:break-word;
}
#u42265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:48px;
}
#u42265 {
  position:absolute;
  left:70px;
  top:0px;
  width:280px;
  height:48px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42266 {
  position:absolute;
  left:2px;
  top:16px;
  width:276px;
  word-wrap:break-word;
}
#u42267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1016px;
  height:48px;
}
#u42267 {
  position:absolute;
  left:350px;
  top:0px;
  width:1016px;
  height:48px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42268 {
  position:absolute;
  left:2px;
  top:16px;
  width:1012px;
  word-wrap:break-word;
}
#u42269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:48px;
}
#u42269 {
  position:absolute;
  left:1366px;
  top:0px;
  width:100px;
  height:48px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42270 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u42271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:48px;
}
#u42271 {
  position:absolute;
  left:1466px;
  top:0px;
  width:200px;
  height:48px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42272 {
  position:absolute;
  left:2px;
  top:16px;
  width:196px;
  word-wrap:break-word;
}
#u42273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 142, 212, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42273 {
  position:absolute;
  left:1820px;
  top:72px;
  width:84px;
  height:32px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42273_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 172, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42273.mouseOver {
}
#u42273_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(221, 221, 221, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42273.disabled {
}
#u42274 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u42275 {
  position:absolute;
  left:200px;
  top:0px;
  width:1134px;
  height:60px;
}
#u42275_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:1140px;
  height:66px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u42276 {
  position:absolute;
  left:0px;
  top:0px;
  width:1139px;
  height:65px;
}
#u42277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u42277 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u42278 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u42279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u42279 {
  position:absolute;
  left:126px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u42280 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u42281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u42281 {
  position:absolute;
  left:252px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u42282 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u42283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u42283 {
  position:absolute;
  left:378px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u42284 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u42285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u42285 {
  position:absolute;
  left:504px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u42286 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u42287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u42287 {
  position:absolute;
  left:630px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u42288 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u42289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u42289 {
  position:absolute;
  left:756px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u42290 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u42291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u42291 {
  position:absolute;
  left:882px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFF00;
}
#u42292 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u42293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u42293 {
  position:absolute;
  left:1008px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u42294 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u42295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 142, 212, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42295 {
  position:absolute;
  left:214px;
  top:70px;
  width:84px;
  height:32px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42295_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 172, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42295.mouseOver {
}
#u42295_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(221, 221, 221, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42295.disabled {
}
#u42296 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
