body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  background:inherit;
  background-color:rgba(245, 247, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12804 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u12805 {
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 142, 212, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12806 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:60px;
}
#u12807 {
  position:absolute;
  left:2px;
  top:22px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:1020px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12808 {
  position:absolute;
  left:0px;
  top:60px;
  width:200px;
  height:1020px;
}
#u12809 {
  position:absolute;
  left:2px;
  top:502px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12810 {
  position:absolute;
  left:0px;
  top:70px;
  width:137px;
  height:165px;
}
#u12810_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12811 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u12812 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u12812_img.selected {
}
#u12812.selected {
}
#u12813 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12814 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u12815 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u12811_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u12816 {
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12817 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u12818 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u12819 {
  position:absolute;
  left:20px;
  top:40px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12820 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u12821 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u12822 {
  position:absolute;
  left:20px;
  top:60px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12823 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u12824 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u12825 {
  position:absolute;
  left:0px;
  top:20px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u12826 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u12826_img.selected {
}
#u12826.selected {
}
#u12827 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12828 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u12829 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u12825_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u12830 {
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12831 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u12832 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u12833 {
  position:absolute;
  left:20px;
  top:40px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12834 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u12835 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u12836 {
  position:absolute;
  left:20px;
  top:60px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12837 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u12838 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u12839 {
  position:absolute;
  left:0px;
  top:40px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u12840 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u12840_img.selected {
}
#u12840.selected {
}
#u12841 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12842 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u12843 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u12839_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u12844 {
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12845 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u12846 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u12847 {
  position:absolute;
  left:20px;
  top:40px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12848 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u12849 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u12850 {
  position:absolute;
  left:20px;
  top:60px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12851 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u12852 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u12853 {
  position:absolute;
  left:0px;
  top:60px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u12854 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u12854_img.selected {
}
#u12854.selected {
}
#u12855 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12856 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u12857 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u12853_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u12858 {
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12859 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u12860 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u12861 {
  position:absolute;
  left:20px;
  top:40px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12862 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u12863 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u12864 {
  position:absolute;
  left:20px;
  top:60px;
  width:94px;
  height:20px;
  font-size:11px;
  color:#000000;
}
#u12865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12865 {
  position:absolute;
  left:22px;
  top:0px;
  width:72px;
  height:20px;
}
#u12866 {
  position:absolute;
  left:3px;
  top:3px;
  width:67px;
  white-space:nowrap;
}
#u12867 {
  position:absolute;
  left:20px;
  top:80px;
  width:103px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12868 {
  position:absolute;
  left:22px;
  top:0px;
  width:81px;
  height:20px;
}
#u12869 {
  position:absolute;
  left:3px;
  top:2px;
  width:76px;
  white-space:nowrap;
}
#u12870 {
  position:absolute;
  left:20px;
  top:100px;
  width:100px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12871 {
  position:absolute;
  left:22px;
  top:0px;
  width:78px;
  height:20px;
}
#u12872 {
  position:absolute;
  left:3px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u12873 {
  position:absolute;
  left:0px;
  top:80px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u12874 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u12874_img.selected {
}
#u12874.selected {
}
#u12875 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12876 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u12877 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u12873_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12878 {
  position:absolute;
  left:20px;
  top:20px;
  width:112px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12879 {
  position:absolute;
  left:22px;
  top:0px;
  width:90px;
  height:20px;
}
#u12880 {
  position:absolute;
  left:3px;
  top:2px;
  width:85px;
  white-space:nowrap;
}
#u12881 {
  position:absolute;
  left:20px;
  top:40px;
  width:112px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008ED4;
}
#u12882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12882 {
  position:absolute;
  left:22px;
  top:0px;
  width:90px;
  height:20px;
}
#u12883 {
  position:absolute;
  left:3px;
  top:2px;
  width:85px;
  white-space:nowrap;
}
#u12884 {
  position:absolute;
  left:20px;
  top:60px;
  width:112px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12885 {
  position:absolute;
  left:22px;
  top:0px;
  width:90px;
  height:20px;
}
#u12886 {
  position:absolute;
  left:3px;
  top:2px;
  width:85px;
  white-space:nowrap;
}
#u12887 {
  position:absolute;
  left:200px;
  top:0px;
  width:1008px;
  height:60px;
}
#u12887_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:1014px;
  height:66px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u12888 {
  position:absolute;
  left:0px;
  top:0px;
  width:1013px;
  height:65px;
}
#u12889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u12889 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12890 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u12891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u12891 {
  position:absolute;
  left:126px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12892 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u12893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u12893 {
  position:absolute;
  left:252px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12894 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u12895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u12895 {
  position:absolute;
  left:378px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12896 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u12897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u12897 {
  position:absolute;
  left:504px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12898 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u12899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u12899 {
  position:absolute;
  left:630px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12900 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u12901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u12901 {
  position:absolute;
  left:756px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFF00;
}
#u12902 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u12903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u12903 {
  position:absolute;
  left:882px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12904 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u12905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u12905 {
  position:absolute;
  left:51px;
  top:15px;
  width:100px;
  height:30px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u12906 {
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  white-space:nowrap;
}
#u12907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u12907 {
  position:absolute;
  left:1642px;
  top:0px;
  width:39px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u12908 {
  position:absolute;
  left:0px;
  top:22px;
  width:39px;
  word-wrap:break-word;
}
#u12909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u12909 {
  position:absolute;
  left:1681px;
  top:0px;
  width:39px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u12910 {
  position:absolute;
  left:0px;
  top:22px;
  width:39px;
  word-wrap:break-word;
}
#u12911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1709px;
  height:1009px;
}
#u12911 {
  position:absolute;
  left:212px;
  top:72px;
  width:1708px;
  height:1008px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:72px;
}
#u12912 {
  position:absolute;
  left:2px;
  top:461px;
  width:1704px;
  word-wrap:break-word;
}
