body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u60871 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u60872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  background:inherit;
  background-color:rgba(245, 247, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60872 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u60873 {
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 142, 212, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60874 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:60px;
}
#u60875 {
  position:absolute;
  left:2px;
  top:22px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:1020px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60876 {
  position:absolute;
  left:0px;
  top:60px;
  width:200px;
  height:1020px;
}
#u60877 {
  position:absolute;
  left:2px;
  top:502px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u60878 {
  position:absolute;
  left:51px;
  top:15px;
  width:100px;
  height:30px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u60879 {
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  white-space:nowrap;
}
#u60880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u60880 {
  position:absolute;
  left:1642px;
  top:0px;
  width:39px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u60881 {
  position:absolute;
  left:0px;
  top:22px;
  width:39px;
  word-wrap:break-word;
}
#u60882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u60882 {
  position:absolute;
  left:1681px;
  top:0px;
  width:39px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u60883 {
  position:absolute;
  left:0px;
  top:22px;
  width:39px;
  word-wrap:break-word;
}
#u60884 {
  position:absolute;
  left:200px;
  top:0px;
  width:1134px;
  height:60px;
}
#u60884_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:1140px;
  height:66px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u60885 {
  position:absolute;
  left:0px;
  top:0px;
  width:1139px;
  height:65px;
}
#u60886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u60886 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFF00;
}
#u60887 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u60888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u60888 {
  position:absolute;
  left:126px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u60889 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u60890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u60890 {
  position:absolute;
  left:252px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u60891 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u60892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u60892 {
  position:absolute;
  left:378px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u60893 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u60894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u60894 {
  position:absolute;
  left:504px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u60895 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u60896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u60896 {
  position:absolute;
  left:630px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u60897 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u60898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u60898 {
  position:absolute;
  left:756px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u60899 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u60900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u60900 {
  position:absolute;
  left:882px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u60901 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u60902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u60902 {
  position:absolute;
  left:1008px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u60903 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u60904 {
  position:absolute;
  left:0px;
  top:70px;
  width:123px;
  height:185px;
}
#u60904_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u60905 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u60906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u60906 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u60906_img.selected {
}
#u60906.selected {
}
#u60907 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60908 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u60909 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u60905_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u60910 {
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u60911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60911 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u60912 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u60913 {
  position:absolute;
  left:0px;
  top:20px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u60914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u60914 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u60914_img.selected {
}
#u60914.selected {
}
#u60915 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60916 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u60917 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u60913_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u60918 {
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u60919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60919 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u60920 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u60921 {
  position:absolute;
  left:20px;
  top:40px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u60922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60922 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u60923 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u60924 {
  position:absolute;
  left:20px;
  top:60px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u60925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60925 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u60926 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u60927 {
  position:absolute;
  left:20px;
  top:80px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u60928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60928 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u60929 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u60930 {
  position:absolute;
  left:0px;
  top:40px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u60931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u60931 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u60931_img.selected {
}
#u60931.selected {
}
#u60932 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60933 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u60934 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u60930_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u60935 {
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u60936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60936 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u60937 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u60938 {
  position:absolute;
  left:20px;
  top:40px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u60939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60939 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u60940 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u60941 {
  position:absolute;
  left:20px;
  top:60px;
  width:98px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u60942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60942 {
  position:absolute;
  left:22px;
  top:0px;
  width:76px;
  height:20px;
}
#u60943 {
  position:absolute;
  left:3px;
  top:2px;
  width:71px;
  white-space:nowrap;
}
#u60944 {
  position:absolute;
  left:20px;
  top:80px;
  width:96px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u60945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60945 {
  position:absolute;
  left:22px;
  top:0px;
  width:74px;
  height:20px;
}
#u60946 {
  position:absolute;
  left:3px;
  top:2px;
  width:69px;
  white-space:nowrap;
}
#u60947 {
  position:absolute;
  left:20px;
  top:100px;
  width:95px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008ED4;
}
#u60948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60948 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u60949 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u60950 {
  position:absolute;
  left:20px;
  top:120px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u60951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60951 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u60952 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u60953 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u60954 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u60955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
}
#u60955 {
  position:absolute;
  left:1783px;
  top:1016px;
  width:29px;
  height:17px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
}
#u60956 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u60957 {
  position:absolute;
  left:1541px;
  top:1014px;
  width:100px;
  height:22px;
}
#u60957_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
}
#u60957_input:disabled {
  color:grayText;
}
#u60958 {
  position:absolute;
  left:1815px;
  top:1014px;
  width:60px;
  height:22px;
}
#u60958_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u60959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
}
#u60959 {
  position:absolute;
  left:1878px;
  top:1016px;
  width:15px;
  height:17px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
}
#u60960 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u60961 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u60962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#DDDDDD;
  text-align:center;
}
#u60962 {
  position:absolute;
  left:1673px;
  top:1016px;
  width:15px;
  height:19px;
  font-size:16px;
  color:#DDDDDD;
  text-align:center;
}
#u60963 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u60964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u60964 {
  position:absolute;
  left:1673px;
  top:1016px;
  width:15px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u60965 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u60966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00ACFF;
  text-align:center;
}
#u60966 {
  position:absolute;
  left:1673px;
  top:1016px;
  width:15px;
  height:19px;
  font-size:16px;
  color:#00ACFF;
  text-align:center;
}
#u60967 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u60968 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u60969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#DDDDDD;
  text-align:center;
}
#u60969 {
  position:absolute;
  left:1694px;
  top:1016px;
  width:15px;
  height:19px;
  font-size:16px;
  color:#DDDDDD;
  text-align:center;
}
#u60970 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u60971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00ACFF;
  text-align:center;
}
#u60971 {
  position:absolute;
  left:1694px;
  top:1016px;
  width:15px;
  height:19px;
  font-size:16px;
  color:#00ACFF;
  text-align:center;
}
#u60972 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u60973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u60973 {
  position:absolute;
  left:1694px;
  top:1016px;
  width:15px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u60974 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u60975 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u60976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#DDDDDD;
  text-align:center;
}
#u60976 {
  position:absolute;
  left:1714px;
  top:1016px;
  width:15px;
  height:19px;
  font-size:16px;
  color:#DDDDDD;
  text-align:center;
}
#u60977 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u60978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00ACFF;
  text-align:center;
}
#u60978 {
  position:absolute;
  left:1714px;
  top:1016px;
  width:15px;
  height:19px;
  font-size:16px;
  color:#00ACFF;
  text-align:center;
}
#u60979 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u60980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u60980 {
  position:absolute;
  left:1714px;
  top:1016px;
  width:15px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u60981 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u60982 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u60983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#DDDDDD;
  text-align:center;
}
#u60983 {
  position:absolute;
  left:1734px;
  top:1016px;
  width:15px;
  height:19px;
  font-size:16px;
  color:#DDDDDD;
  text-align:center;
}
#u60984 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u60985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00ACFF;
  text-align:center;
}
#u60985 {
  position:absolute;
  left:1734px;
  top:1016px;
  width:15px;
  height:19px;
  font-size:16px;
  color:#00ACFF;
  text-align:center;
}
#u60986 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u60987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u60987 {
  position:absolute;
  left:1734px;
  top:1016px;
  width:15px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u60988 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u60989 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u60990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u60990 {
  position:absolute;
  left:1759px;
  top:1017px;
  width:9px;
  height:16px;
}
#u60991 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u60992 {
  position:absolute;
  left:1759px;
  top:1017px;
  width:9px;
  height:16px;
}
#u60993 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u60994 {
  position:absolute;
  left:1759px;
  top:1017px;
  width:9px;
  height:16px;
}
#u60995 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60996 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u60997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u60997 {
  position:absolute;
  left:1657px;
  top:1017px;
  width:9px;
  height:16px;
  color:#555555;
}
#u60998 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u60999 {
  position:absolute;
  left:1657px;
  top:1017px;
  width:9px;
  height:16px;
  color:#555555;
}
#u61000 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u61001 {
  position:absolute;
  left:1657px;
  top:1017px;
  width:9px;
  height:16px;
  color:#555555;
}
#u61002 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61003 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u61004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
}
#u61004 {
  position:absolute;
  left:1467px;
  top:1016px;
  width:61px;
  height:17px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
}
#u61005 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u61006 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u61007 {
  position:absolute;
  left:210px;
  top:117px;
  width:1680px;
  height:886px;
}
#u61007_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1680px;
  height:886px;
}
#u61008 {
  position:absolute;
  left:212px;
  top:119px;
  width:1656px;
  height:52px;
}
#u61009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:47px;
}
#u61009 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:47px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u61010 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:47px;
}
#u61011 {
  position:absolute;
  left:50px;
  top:0px;
  width:70px;
  height:47px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u61012 {
  position:absolute;
  left:2px;
  top:15px;
  width:66px;
  word-wrap:break-word;
}
#u61013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:47px;
}
#u61013 {
  position:absolute;
  left:120px;
  top:0px;
  width:250px;
  height:47px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u61014 {
  position:absolute;
  left:2px;
  top:15px;
  width:246px;
  word-wrap:break-word;
}
#u61015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:47px;
}
#u61015 {
  position:absolute;
  left:370px;
  top:0px;
  width:250px;
  height:47px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u61016 {
  position:absolute;
  left:2px;
  top:15px;
  width:246px;
  word-wrap:break-word;
}
#u61017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:47px;
}
#u61017 {
  position:absolute;
  left:620px;
  top:0px;
  width:250px;
  height:47px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u61018 {
  position:absolute;
  left:2px;
  top:15px;
  width:246px;
  word-wrap:break-word;
}
#u61019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u61019 {
  position:absolute;
  left:870px;
  top:0px;
  width:100px;
  height:47px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u61020 {
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u61021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u61021 {
  position:absolute;
  left:970px;
  top:0px;
  width:100px;
  height:47px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u61022 {
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u61023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u61023 {
  position:absolute;
  left:1070px;
  top:0px;
  width:100px;
  height:47px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u61024 {
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u61025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:47px;
}
#u61025 {
  position:absolute;
  left:1170px;
  top:0px;
  width:481px;
  height:47px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u61026 {
  position:absolute;
  left:2px;
  top:15px;
  width:477px;
  word-wrap:break-word;
}
#u61027 {
  position:absolute;
  left:231px;
  top:135px;
  width:15px;
  height:16px;
}
#u61028 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61027_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u61029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 142, 212, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u61029 {
  position:absolute;
  left:212px;
  top:75px;
  width:84px;
  height:32px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u61029_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 172, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u61029.mouseOver {
}
#u61029_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(221, 221, 221, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u61029.disabled {
}
#u61030 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u61031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 142, 212, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u61031 {
  position:absolute;
  left:307px;
  top:75px;
  width:84px;
  height:32px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u61031_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 172, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u61031.mouseOver {
}
#u61031_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(221, 221, 221, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u61031.disabled {
}
#u61032 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u61033 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u61034 {
  position:absolute;
  left:1271px;
  top:72px;
  width:168px;
  height:32px;
}
#u61034_input {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:32px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
}
#u61034_input:disabled {
  color:grayText;
}
#u61035 {
  position:absolute;
  left:1093px;
  top:72px;
  width:168px;
  height:32px;
}
#u61035_input {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:32px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
}
#u61035_input:disabled {
  color:grayText;
}
#u61036 {
  position:absolute;
  left:1627px;
  top:72px;
  width:168px;
  height:32px;
}
#u61036_input {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:32px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
}
#u61036_input:disabled {
  color:grayText;
}
#u61037 {
  position:absolute;
  left:1449px;
  top:72px;
  width:168px;
  height:32px;
}
#u61037_input {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:32px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
}
#u61037_input:disabled {
  color:grayText;
}
#u61038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 142, 212, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u61038 {
  position:absolute;
  left:1820px;
  top:72px;
  width:84px;
  height:32px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u61038_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 172, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u61038.mouseOver {
}
#u61038_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(221, 221, 221, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u61038.disabled {
}
#u61039 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
