body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u34962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  background:inherit;
  background-color:rgba(245, 247, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34962 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u34963 {
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 142, 212, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34964 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:60px;
}
#u34965 {
  position:absolute;
  left:2px;
  top:22px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:1020px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34966 {
  position:absolute;
  left:0px;
  top:60px;
  width:200px;
  height:1020px;
}
#u34967 {
  position:absolute;
  left:2px;
  top:502px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34968 {
  position:absolute;
  left:0px;
  top:70px;
  width:89px;
  height:65px;
}
#u34968_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34969 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u34970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34970 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u34971 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u34972 {
  position:absolute;
  left:0px;
  top:20px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u34973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34973 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u34974 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u34975 {
  position:absolute;
  left:0px;
  top:40px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u34976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34976 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u34977 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u34978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u34978 {
  position:absolute;
  left:51px;
  top:15px;
  width:100px;
  height:30px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u34979 {
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  white-space:nowrap;
}
#u34980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u34980 {
  position:absolute;
  left:1642px;
  top:0px;
  width:39px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u34981 {
  position:absolute;
  left:0px;
  top:22px;
  width:39px;
  word-wrap:break-word;
}
#u34982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u34982 {
  position:absolute;
  left:1681px;
  top:0px;
  width:39px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u34983 {
  position:absolute;
  left:0px;
  top:22px;
  width:39px;
  word-wrap:break-word;
}
#u34984 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34985 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
}
#u34986 {
  position:absolute;
  left:1794px;
  top:1022px;
  width:29px;
  height:17px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
}
#u34987 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u34988 {
  position:absolute;
  left:1552px;
  top:1020px;
  width:100px;
  height:22px;
}
#u34988_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
}
#u34988_input:disabled {
  color:grayText;
}
#u34989 {
  position:absolute;
  left:1826px;
  top:1020px;
  width:60px;
  height:22px;
}
#u34989_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u34990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
}
#u34990 {
  position:absolute;
  left:1889px;
  top:1022px;
  width:15px;
  height:17px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
}
#u34991 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u34992 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#DDDDDD;
  text-align:center;
}
#u34993 {
  position:absolute;
  left:1684px;
  top:1022px;
  width:15px;
  height:19px;
  font-size:16px;
  color:#DDDDDD;
  text-align:center;
}
#u34994 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u34995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u34995 {
  position:absolute;
  left:1684px;
  top:1022px;
  width:15px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u34996 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u34997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00ACFF;
  text-align:center;
}
#u34997 {
  position:absolute;
  left:1684px;
  top:1022px;
  width:15px;
  height:19px;
  font-size:16px;
  color:#00ACFF;
  text-align:center;
}
#u34998 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u34999 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#DDDDDD;
  text-align:center;
}
#u35000 {
  position:absolute;
  left:1705px;
  top:1022px;
  width:15px;
  height:19px;
  font-size:16px;
  color:#DDDDDD;
  text-align:center;
}
#u35001 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u35002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00ACFF;
  text-align:center;
}
#u35002 {
  position:absolute;
  left:1705px;
  top:1022px;
  width:15px;
  height:19px;
  font-size:16px;
  color:#00ACFF;
  text-align:center;
}
#u35003 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u35004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u35004 {
  position:absolute;
  left:1705px;
  top:1022px;
  width:15px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u35005 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u35006 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#DDDDDD;
  text-align:center;
}
#u35007 {
  position:absolute;
  left:1725px;
  top:1022px;
  width:15px;
  height:19px;
  font-size:16px;
  color:#DDDDDD;
  text-align:center;
}
#u35008 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u35009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00ACFF;
  text-align:center;
}
#u35009 {
  position:absolute;
  left:1725px;
  top:1022px;
  width:15px;
  height:19px;
  font-size:16px;
  color:#00ACFF;
  text-align:center;
}
#u35010 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u35011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u35011 {
  position:absolute;
  left:1725px;
  top:1022px;
  width:15px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u35012 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u35013 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#DDDDDD;
  text-align:center;
}
#u35014 {
  position:absolute;
  left:1745px;
  top:1022px;
  width:15px;
  height:19px;
  font-size:16px;
  color:#DDDDDD;
  text-align:center;
}
#u35015 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u35016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00ACFF;
  text-align:center;
}
#u35016 {
  position:absolute;
  left:1745px;
  top:1022px;
  width:15px;
  height:19px;
  font-size:16px;
  color:#00ACFF;
  text-align:center;
}
#u35017 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u35018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u35018 {
  position:absolute;
  left:1745px;
  top:1022px;
  width:15px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u35019 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u35020 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u35021 {
  position:absolute;
  left:1770px;
  top:1023px;
  width:9px;
  height:16px;
}
#u35022 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u35023 {
  position:absolute;
  left:1770px;
  top:1023px;
  width:9px;
  height:16px;
}
#u35024 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u35025 {
  position:absolute;
  left:1770px;
  top:1023px;
  width:9px;
  height:16px;
}
#u35026 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35027 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u35028 {
  position:absolute;
  left:1668px;
  top:1023px;
  width:9px;
  height:16px;
  color:#555555;
}
#u35029 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u35030 {
  position:absolute;
  left:1668px;
  top:1023px;
  width:9px;
  height:16px;
  color:#555555;
}
#u35031 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u35032 {
  position:absolute;
  left:1668px;
  top:1023px;
  width:9px;
  height:16px;
  color:#555555;
}
#u35033 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35034 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
}
#u35035 {
  position:absolute;
  left:1478px;
  top:1022px;
  width:61px;
  height:17px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
}
#u35036 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u35037 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35038 {
  position:absolute;
  left:212px;
  top:115px;
  width:1688px;
  height:895px;
}
#u35038_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1688px;
  height:895px;
}
#u35039 {
  position:absolute;
  left:214px;
  top:118px;
  width:1665px;
  height:53px;
}
#u35040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:48px;
}
#u35040 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:48px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u35041 {
  position:absolute;
  left:2px;
  top:16px;
  width:66px;
  word-wrap:break-word;
}
#u35040_ann {
  position:absolute;
  left:56px;
  top:0px;
  width:1px;
  height:1px;
}
#u35042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:48px;
}
#u35042 {
  position:absolute;
  left:70px;
  top:0px;
  width:500px;
  height:48px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u35043 {
  position:absolute;
  left:2px;
  top:16px;
  width:496px;
  word-wrap:break-word;
}
#u35042_ann {
  position:absolute;
  left:556px;
  top:0px;
  width:1px;
  height:1px;
}
#u35044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:48px;
}
#u35044 {
  position:absolute;
  left:570px;
  top:0px;
  width:100px;
  height:48px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u35045 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u35044_ann {
  position:absolute;
  left:656px;
  top:0px;
  width:1px;
  height:1px;
}
#u35046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:48px;
}
#u35046 {
  position:absolute;
  left:670px;
  top:0px;
  width:200px;
  height:48px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u35047 {
  position:absolute;
  left:2px;
  top:16px;
  width:196px;
  word-wrap:break-word;
}
#u35046_ann {
  position:absolute;
  left:856px;
  top:0px;
  width:1px;
  height:1px;
}
#u35048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:48px;
}
#u35048 {
  position:absolute;
  left:870px;
  top:0px;
  width:100px;
  height:48px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u35049 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u35048_ann {
  position:absolute;
  left:956px;
  top:0px;
  width:1px;
  height:1px;
}
#u35050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:48px;
}
#u35050 {
  position:absolute;
  left:970px;
  top:0px;
  width:200px;
  height:48px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u35051 {
  position:absolute;
  left:2px;
  top:16px;
  width:196px;
  word-wrap:break-word;
}
#u35050_ann {
  position:absolute;
  left:1156px;
  top:0px;
  width:1px;
  height:1px;
}
#u35052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:48px;
}
#u35052 {
  position:absolute;
  left:1170px;
  top:0px;
  width:100px;
  height:48px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u35053 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u35052_ann {
  position:absolute;
  left:1256px;
  top:0px;
  width:1px;
  height:1px;
}
#u35054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:48px;
}
#u35054 {
  position:absolute;
  left:1270px;
  top:0px;
  width:200px;
  height:48px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u35055 {
  position:absolute;
  left:2px;
  top:16px;
  width:196px;
  word-wrap:break-word;
}
#u35054_ann {
  position:absolute;
  left:1456px;
  top:0px;
  width:1px;
  height:1px;
}
#u35056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:48px;
}
#u35056 {
  position:absolute;
  left:1470px;
  top:0px;
  width:190px;
  height:48px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u35057 {
  position:absolute;
  left:2px;
  top:16px;
  width:186px;
  word-wrap:break-word;
}
#u35056_ann {
  position:absolute;
  left:1646px;
  top:0px;
  width:1px;
  height:1px;
}
#u35058 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35059 {
  position:absolute;
  left:1458px;
  top:72px;
  width:168px;
  height:32px;
}
#u35059_input {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:32px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
}
#u35059_input:disabled {
  color:grayText;
}
#u35060 {
  position:absolute;
  left:1636px;
  top:72px;
  width:168px;
  height:32px;
}
#u35060_input {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:32px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u35061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 142, 212, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u35061 {
  position:absolute;
  left:1820px;
  top:72px;
  width:84px;
  height:32px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u35061_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 172, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u35061.mouseOver {
}
#u35061_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(221, 221, 221, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u35061.disabled {
}
#u35062 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u35063 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u35064 {
  position:absolute;
  left:1818px;
  top:165px;
  width:36px;
  height:48px;
  opacity:0;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u35064_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:48px;
  background:inherit;
  background-color:rgba(0, 172, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u35064.mouseOver {
}
#u35064_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:48px;
  background:inherit;
  background-color:rgba(221, 221, 221, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u35064.disabled {
}
#u35065 {
  position:absolute;
  left:2px;
  top:17px;
  width:32px;
  word-wrap:break-word;
}
#u35066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:48px;
  background:inherit;
  background-color:rgba(0, 142, 212, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u35066 {
  position:absolute;
  left:1706px;
  top:165px;
  width:36px;
  height:48px;
  opacity:0;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u35066_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:48px;
  background:inherit;
  background-color:rgba(0, 172, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u35066.mouseOver {
}
#u35066_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:48px;
  background:inherit;
  background-color:rgba(221, 221, 221, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u35066.disabled {
}
#u35067 {
  position:absolute;
  left:2px;
  top:17px;
  width:32px;
  word-wrap:break-word;
}
#u35068 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:197px;
  background:inherit;
  background-color:rgba(245, 247, 249, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(187, 187, 187, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35069 {
  position:absolute;
  left:855px;
  top:400px;
  width:333px;
  height:197px;
}
#u35070 {
  position:absolute;
  left:2px;
  top:90px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 142, 212, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u35071 {
  position:absolute;
  left:855px;
  top:400px;
  width:333px;
  height:40px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u35072 {
  position:absolute;
  left:12px;
  top:12px;
  width:319px;
  word-wrap:break-word;
}
#u35073 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u35074 {
  position:absolute;
  left:857px;
  top:460px;
  width:328px;
  height:76px;
  color:#FF0000;
}
#u35075 {
  position:absolute;
  left:2px;
  top:30px;
  width:324px;
  word-wrap:break-word;
}
#u35076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u35076 {
  position:absolute;
  left:1153px;
  top:412px;
  width:16px;
  height:16px;
}
#u35077 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(187, 187, 187, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u35078 {
  position:absolute;
  left:1091px;
  top:554px;
  width:84px;
  height:32px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u35078_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(221, 221, 221, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(187, 187, 187, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u35078.mouseOver {
}
#u35078_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(221, 221, 221, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(187, 187, 187, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u35078.disabled {
}
#u35079 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u35080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 142, 212, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u35080 {
  position:absolute;
  left:990px;
  top:554px;
  width:84px;
  height:32px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u35080_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 172, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u35080.mouseOver {
}
#u35080_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(221, 221, 221, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u35080.disabled {
}
#u35081 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u35082 {
  position:absolute;
  left:200px;
  top:0px;
  width:1134px;
  height:60px;
}
#u35082_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:1140px;
  height:66px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u35083 {
  position:absolute;
  left:0px;
  top:0px;
  width:1139px;
  height:65px;
}
#u35084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u35084 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u35085 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u35086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u35086 {
  position:absolute;
  left:126px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u35087 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u35088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u35088 {
  position:absolute;
  left:252px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u35089 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u35090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u35090 {
  position:absolute;
  left:378px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u35091 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u35092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u35092 {
  position:absolute;
  left:504px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFF00;
}
#u35093 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u35094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u35094 {
  position:absolute;
  left:630px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u35095 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u35096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u35096 {
  position:absolute;
  left:756px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u35097 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u35098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u35098 {
  position:absolute;
  left:882px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u35099 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u35100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u35100 {
  position:absolute;
  left:1008px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u35101 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u35102 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u35103 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u35104 {
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
