body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u52132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  background:inherit;
  background-color:rgba(245, 247, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52132 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u52133 {
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 142, 212, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52134 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:60px;
}
#u52135 {
  position:absolute;
  left:2px;
  top:22px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:1020px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52136 {
  position:absolute;
  left:0px;
  top:60px;
  width:200px;
  height:1020px;
}
#u52137 {
  position:absolute;
  left:2px;
  top:502px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u52138 {
  position:absolute;
  left:51px;
  top:15px;
  width:100px;
  height:30px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u52139 {
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  white-space:nowrap;
}
#u52140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u52140 {
  position:absolute;
  left:1642px;
  top:0px;
  width:39px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u52141 {
  position:absolute;
  left:0px;
  top:22px;
  width:39px;
  word-wrap:break-word;
}
#u52142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u52142 {
  position:absolute;
  left:1681px;
  top:0px;
  width:39px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u52143 {
  position:absolute;
  left:0px;
  top:22px;
  width:39px;
  word-wrap:break-word;
}
#u52144 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u52145 {
  position:absolute;
  left:227px;
  top:109px;
  width:280px;
  height:32px;
}
#u52145_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:32px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
}
#u52145_input:disabled {
  color:grayText;
}
#u52146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
}
#u52146 {
  position:absolute;
  left:227px;
  top:90px;
  width:29px;
  height:17px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
}
#u52147 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u52148 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u52149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
}
#u52149 {
  position:absolute;
  left:552px;
  top:90px;
  width:29px;
  height:17px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
}
#u52150 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u52151 {
  position:absolute;
  left:552px;
  top:108px;
  width:280px;
  height:32px;
}
#u52151_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:32px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u52152 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u52153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
}
#u52153 {
  position:absolute;
  left:877px;
  top:89px;
  width:29px;
  height:17px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
}
#u52154 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u52155 {
  position:absolute;
  left:877px;
  top:108px;
  width:280px;
  height:32px;
}
#u52155_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:32px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u52156 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u52157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
}
#u52157 {
  position:absolute;
  left:1192px;
  top:90px;
  width:29px;
  height:17px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
}
#u52158 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u52159 {
  position:absolute;
  left:1192px;
  top:108px;
  width:280px;
  height:32px;
}
#u52159_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:32px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u52160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 142, 212, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u52160 {
  position:absolute;
  left:1277px;
  top:331px;
  width:84px;
  height:32px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u52160_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 172, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u52160.mouseOver {
}
#u52160_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(221, 221, 221, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u52160.disabled {
}
#u52161 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u52162 {
  position:absolute;
  left:0px;
  top:70px;
  width:131px;
  height:245px;
}
#u52162_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u52163 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u52164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u52164 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u52164_img.selected {
}
#u52164.selected {
}
#u52165 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52166 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u52167 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u52163_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u52168 {
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u52169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52169 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u52170 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u52171 {
  position:absolute;
  left:20px;
  top:40px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u52172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52172 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u52173 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u52174 {
  position:absolute;
  left:20px;
  top:60px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u52175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52175 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u52176 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u52177 {
  position:absolute;
  left:20px;
  top:80px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u52178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52178 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u52179 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u52180 {
  position:absolute;
  left:20px;
  top:100px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u52181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52181 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u52182 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u52183 {
  position:absolute;
  left:0px;
  top:20px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u52184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u52184 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u52184_img.selected {
}
#u52184.selected {
}
#u52185 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52186 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u52187 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u52183_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u52188 {
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u52189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52189 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u52190 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u52191 {
  position:absolute;
  left:20px;
  top:40px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u52192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52192 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u52193 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u52194 {
  position:absolute;
  left:20px;
  top:60px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u52195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52195 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u52196 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u52197 {
  position:absolute;
  left:20px;
  top:80px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u52198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52198 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u52199 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u52200 {
  position:absolute;
  left:20px;
  top:100px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u52201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52201 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u52202 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u52203 {
  position:absolute;
  left:20px;
  top:120px;
  width:98px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u52204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52204 {
  position:absolute;
  left:22px;
  top:0px;
  width:76px;
  height:20px;
}
#u52205 {
  position:absolute;
  left:3px;
  top:2px;
  width:71px;
  white-space:nowrap;
}
#u52206 {
  position:absolute;
  left:20px;
  top:140px;
  width:105px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008ED4;
}
#u52207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52207 {
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u52208 {
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u52209 {
  position:absolute;
  left:20px;
  top:160px;
  width:106px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u52210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52210 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u52211 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u52212 {
  position:absolute;
  left:0px;
  top:200px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u52213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u52213 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u52213_img.selected {
}
#u52213.selected {
}
#u52214 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52215 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u52216 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u52212_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u52217 {
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u52218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52218 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u52219 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u52220 {
  position:absolute;
  left:20px;
  top:40px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u52221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52221 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u52222 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u52223 {
  position:absolute;
  left:0px;
  top:220px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u52224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u52224 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u52224_img.selected {
}
#u52224.selected {
}
#u52225 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52226 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u52227 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u52223_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u52228 {
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u52229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52229 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u52230 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u52231 {
  position:absolute;
  left:20px;
  top:40px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u52232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52232 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u52233 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u52234 {
  position:absolute;
  left:20px;
  top:60px;
  width:98px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u52235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52235 {
  position:absolute;
  left:22px;
  top:0px;
  width:76px;
  height:20px;
}
#u52236 {
  position:absolute;
  left:3px;
  top:2px;
  width:71px;
  white-space:nowrap;
}
#u52237 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u52238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
}
#u52238 {
  position:absolute;
  left:227px;
  top:164px;
  width:99px;
  height:17px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u52239 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u52240 {
  position:absolute;
  left:227px;
  top:181px;
  width:1240px;
  height:127px;
}
#u52240_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:127px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u52241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 142, 212, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u52241 {
  position:absolute;
  left:1383px;
  top:331px;
  width:84px;
  height:32px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u52241_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 172, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u52241.mouseOver {
}
#u52241_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(221, 221, 221, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u52241.disabled {
}
#u52242 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u52243 {
  position:absolute;
  left:200px;
  top:0px;
  width:1134px;
  height:62px;
}
#u52243_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:1140px;
  height:68px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u52244 {
  position:absolute;
  left:0px;
  top:0px;
  width:1139px;
  height:67px;
}
#u52245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:62px;
}
#u52245 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:62px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u52246 {
  position:absolute;
  left:2px;
  top:20px;
  width:122px;
  word-wrap:break-word;
}
#u52247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:62px;
}
#u52247 {
  position:absolute;
  left:126px;
  top:0px;
  width:126px;
  height:62px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u52248 {
  position:absolute;
  left:2px;
  top:20px;
  width:122px;
  word-wrap:break-word;
}
#u52249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:62px;
}
#u52249 {
  position:absolute;
  left:252px;
  top:0px;
  width:126px;
  height:62px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u52250 {
  position:absolute;
  left:2px;
  top:20px;
  width:122px;
  word-wrap:break-word;
}
#u52251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:62px;
}
#u52251 {
  position:absolute;
  left:378px;
  top:0px;
  width:126px;
  height:62px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u52252 {
  position:absolute;
  left:2px;
  top:20px;
  width:122px;
  word-wrap:break-word;
}
#u52253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:62px;
}
#u52253 {
  position:absolute;
  left:504px;
  top:0px;
  width:126px;
  height:62px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u52254 {
  position:absolute;
  left:2px;
  top:20px;
  width:122px;
  word-wrap:break-word;
}
#u52255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:62px;
}
#u52255 {
  position:absolute;
  left:630px;
  top:0px;
  width:126px;
  height:62px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u52256 {
  position:absolute;
  left:2px;
  top:20px;
  width:122px;
  word-wrap:break-word;
}
#u52257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:62px;
}
#u52257 {
  position:absolute;
  left:756px;
  top:0px;
  width:126px;
  height:62px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u52258 {
  position:absolute;
  left:2px;
  top:20px;
  width:122px;
  word-wrap:break-word;
}
#u52259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:62px;
}
#u52259 {
  position:absolute;
  left:882px;
  top:0px;
  width:126px;
  height:62px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u52260 {
  position:absolute;
  left:2px;
  top:20px;
  width:122px;
  word-wrap:break-word;
}
#u52261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:62px;
}
#u52261 {
  position:absolute;
  left:1008px;
  top:0px;
  width:126px;
  height:62px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFF00;
}
#u52262 {
  position:absolute;
  left:2px;
  top:20px;
  width:122px;
  word-wrap:break-word;
}
