body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u38607 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38608_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  background:inherit;
  background-color:rgba(245, 247, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38608 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u38609 {
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38610_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 142, 212, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38610 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:60px;
}
#u38611 {
  position:absolute;
  left:2px;
  top:22px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38612_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:1020px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38612 {
  position:absolute;
  left:0px;
  top:60px;
  width:200px;
  height:1020px;
}
#u38613 {
  position:absolute;
  left:2px;
  top:502px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38614 {
  position:absolute;
  left:0px;
  top:70px;
  width:109px;
  height:125px;
}
#u38614_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38615 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u38616_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u38616 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u38616_img.selected {
}
#u38616.selected {
}
#u38617 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38618_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38618 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u38619 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u38615_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u38620 {
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u38621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38621 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u38622 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u38623 {
  position:absolute;
  left:0px;
  top:20px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u38624_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u38624 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u38624_img.selected {
}
#u38624.selected {
}
#u38625 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38626_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38626 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u38627 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u38623_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u38628 {
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u38629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38629 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u38630 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u38631 {
  position:absolute;
  left:0px;
  top:40px;
  width:98px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u38632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u38632 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u38632_img.selected {
}
#u38632.selected {
}
#u38633 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38634 {
  position:absolute;
  left:22px;
  top:0px;
  width:76px;
  height:20px;
}
#u38635 {
  position:absolute;
  left:3px;
  top:2px;
  width:71px;
  white-space:nowrap;
}
#u38631_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u38636 {
  position:absolute;
  left:20px;
  top:20px;
  width:98px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u38637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38637 {
  position:absolute;
  left:22px;
  top:0px;
  width:76px;
  height:20px;
}
#u38638 {
  position:absolute;
  left:3px;
  top:2px;
  width:71px;
  white-space:nowrap;
}
#u38639 {
  position:absolute;
  left:0px;
  top:60px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u38640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u38640 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u38640_img.selected {
}
#u38640.selected {
}
#u38641 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38642 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u38643 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u38639_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38644 {
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008ED4;
}
#u38645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38645 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u38646 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u38647 {
  position:absolute;
  left:0px;
  top:100px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u38648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u38648 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u38648_img.selected {
}
#u38648.selected {
}
#u38649 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38650 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u38651 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u38647_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u38652 {
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u38653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38653 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u38654 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u38655 {
  position:absolute;
  left:20px;
  top:40px;
  width:84px;
  height:20px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u38656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38656 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u38657 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u38658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u38658 {
  position:absolute;
  left:51px;
  top:15px;
  width:100px;
  height:30px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u38659 {
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  white-space:nowrap;
}
#u38660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u38660 {
  position:absolute;
  left:1642px;
  top:0px;
  width:39px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u38661 {
  position:absolute;
  left:0px;
  top:22px;
  width:39px;
  word-wrap:break-word;
}
#u38662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u38662 {
  position:absolute;
  left:1681px;
  top:0px;
  width:39px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u38663 {
  position:absolute;
  left:0px;
  top:22px;
  width:39px;
  word-wrap:break-word;
}
#u38664 {
  position:absolute;
  left:200px;
  top:0px;
  width:1134px;
  height:60px;
}
#u38664_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:1140px;
  height:66px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u38665 {
  position:absolute;
  left:0px;
  top:0px;
  width:1139px;
  height:65px;
}
#u38666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u38666 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u38667 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u38668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u38668 {
  position:absolute;
  left:126px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u38669 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u38670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u38670 {
  position:absolute;
  left:252px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u38671 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u38672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u38672 {
  position:absolute;
  left:378px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u38673 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u38674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u38674 {
  position:absolute;
  left:504px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u38675 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u38676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u38676 {
  position:absolute;
  left:630px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u38677 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u38678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u38678 {
  position:absolute;
  left:756px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFF00;
}
#u38679 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u38680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u38680 {
  position:absolute;
  left:882px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u38681 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u38682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u38682 {
  position:absolute;
  left:1008px;
  top:0px;
  width:126px;
  height:60px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u38683 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  word-wrap:break-word;
}
#u38684 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38685 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
}
#u38686 {
  position:absolute;
  left:1794px;
  top:1022px;
  width:29px;
  height:17px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
}
#u38687 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u38688 {
  position:absolute;
  left:1552px;
  top:1020px;
  width:100px;
  height:22px;
}
#u38688_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
}
#u38688_input:disabled {
  color:grayText;
}
#u38689 {
  position:absolute;
  left:1826px;
  top:1020px;
  width:60px;
  height:22px;
}
#u38689_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u38690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
}
#u38690 {
  position:absolute;
  left:1889px;
  top:1022px;
  width:15px;
  height:17px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
}
#u38691 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u38692 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#DDDDDD;
  text-align:center;
}
#u38693 {
  position:absolute;
  left:1684px;
  top:1022px;
  width:15px;
  height:19px;
  font-size:16px;
  color:#DDDDDD;
  text-align:center;
}
#u38694 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u38695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u38695 {
  position:absolute;
  left:1684px;
  top:1022px;
  width:15px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u38696 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u38697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00ACFF;
  text-align:center;
}
#u38697 {
  position:absolute;
  left:1684px;
  top:1022px;
  width:15px;
  height:19px;
  font-size:16px;
  color:#00ACFF;
  text-align:center;
}
#u38698 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u38699 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#DDDDDD;
  text-align:center;
}
#u38700 {
  position:absolute;
  left:1705px;
  top:1022px;
  width:15px;
  height:19px;
  font-size:16px;
  color:#DDDDDD;
  text-align:center;
}
#u38701 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u38702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00ACFF;
  text-align:center;
}
#u38702 {
  position:absolute;
  left:1705px;
  top:1022px;
  width:15px;
  height:19px;
  font-size:16px;
  color:#00ACFF;
  text-align:center;
}
#u38703 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u38704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u38704 {
  position:absolute;
  left:1705px;
  top:1022px;
  width:15px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u38705 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u38706 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#DDDDDD;
  text-align:center;
}
#u38707 {
  position:absolute;
  left:1725px;
  top:1022px;
  width:15px;
  height:19px;
  font-size:16px;
  color:#DDDDDD;
  text-align:center;
}
#u38708 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u38709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00ACFF;
  text-align:center;
}
#u38709 {
  position:absolute;
  left:1725px;
  top:1022px;
  width:15px;
  height:19px;
  font-size:16px;
  color:#00ACFF;
  text-align:center;
}
#u38710 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u38711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u38711 {
  position:absolute;
  left:1725px;
  top:1022px;
  width:15px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u38712 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u38713 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#DDDDDD;
  text-align:center;
}
#u38714 {
  position:absolute;
  left:1745px;
  top:1022px;
  width:15px;
  height:19px;
  font-size:16px;
  color:#DDDDDD;
  text-align:center;
}
#u38715 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u38716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00ACFF;
  text-align:center;
}
#u38716 {
  position:absolute;
  left:1745px;
  top:1022px;
  width:15px;
  height:19px;
  font-size:16px;
  color:#00ACFF;
  text-align:center;
}
#u38717 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u38718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u38718 {
  position:absolute;
  left:1745px;
  top:1022px;
  width:15px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u38719 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u38720 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u38721 {
  position:absolute;
  left:1770px;
  top:1023px;
  width:9px;
  height:16px;
}
#u38722 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u38723 {
  position:absolute;
  left:1770px;
  top:1023px;
  width:9px;
  height:16px;
}
#u38724 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u38725 {
  position:absolute;
  left:1770px;
  top:1023px;
  width:9px;
  height:16px;
}
#u38726 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38727 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u38728 {
  position:absolute;
  left:1668px;
  top:1023px;
  width:9px;
  height:16px;
  color:#555555;
}
#u38729 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u38730 {
  position:absolute;
  left:1668px;
  top:1023px;
  width:9px;
  height:16px;
  color:#555555;
}
#u38731 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u38732 {
  position:absolute;
  left:1668px;
  top:1023px;
  width:9px;
  height:16px;
  color:#555555;
}
#u38733 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38734 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
}
#u38735 {
  position:absolute;
  left:1478px;
  top:1022px;
  width:61px;
  height:17px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
}
#u38736 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u38737 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38738 {
  position:absolute;
  left:212px;
  top:115px;
  width:1688px;
  height:895px;
}
#u38738_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1688px;
  height:895px;
}
#u38739 {
  position:absolute;
  left:214px;
  top:117px;
  width:1632px;
  height:60px;
}
#u38740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:55px;
}
#u38740 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:55px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u38741 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:55px;
}
#u38742 {
  position:absolute;
  left:50px;
  top:0px;
  width:70px;
  height:55px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u38743 {
  position:absolute;
  left:2px;
  top:19px;
  width:66px;
  word-wrap:break-word;
}
#u38744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:55px;
}
#u38744 {
  position:absolute;
  left:120px;
  top:0px;
  width:140px;
  height:55px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u38745 {
  position:absolute;
  left:2px;
  top:19px;
  width:136px;
  word-wrap:break-word;
}
#u38746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:55px;
}
#u38746 {
  position:absolute;
  left:260px;
  top:0px;
  width:140px;
  height:55px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u38747 {
  position:absolute;
  left:2px;
  top:19px;
  width:136px;
  word-wrap:break-word;
}
#u38748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:55px;
}
#u38748 {
  position:absolute;
  left:400px;
  top:0px;
  width:140px;
  height:55px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u38749 {
  position:absolute;
  left:2px;
  top:19px;
  width:136px;
  word-wrap:break-word;
}
#u38750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:55px;
}
#u38750 {
  position:absolute;
  left:540px;
  top:0px;
  width:140px;
  height:55px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u38751 {
  position:absolute;
  left:2px;
  top:19px;
  width:136px;
  word-wrap:break-word;
}
#u38752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:55px;
}
#u38752 {
  position:absolute;
  left:680px;
  top:0px;
  width:140px;
  height:55px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u38753 {
  position:absolute;
  left:2px;
  top:19px;
  width:136px;
  word-wrap:break-word;
}
#u38754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:55px;
}
#u38754 {
  position:absolute;
  left:820px;
  top:0px;
  width:140px;
  height:55px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u38755 {
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  word-wrap:break-word;
}
#u38756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:55px;
}
#u38756 {
  position:absolute;
  left:960px;
  top:0px;
  width:140px;
  height:55px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u38757 {
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  word-wrap:break-word;
}
#u38758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:55px;
}
#u38758 {
  position:absolute;
  left:1100px;
  top:0px;
  width:140px;
  height:55px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u38759 {
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  word-wrap:break-word;
}
#u38760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:55px;
}
#u38760 {
  position:absolute;
  left:1240px;
  top:0px;
  width:140px;
  height:55px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u38761 {
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  word-wrap:break-word;
}
#u38762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:55px;
}
#u38762 {
  position:absolute;
  left:1380px;
  top:0px;
  width:247px;
  height:55px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u38763 {
  position:absolute;
  left:2px;
  top:19px;
  width:243px;
  word-wrap:break-word;
}
#u38764 {
  position:absolute;
  left:232px;
  top:134px;
  width:15px;
  height:16px;
}
#u38765 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38764_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u38766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 142, 212, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u38766 {
  position:absolute;
  left:1820px;
  top:72px;
  width:84px;
  height:32px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u38766_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 172, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u38766.mouseOver {
}
#u38766_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(221, 221, 221, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u38766.disabled {
}
#u38767 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u38768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:2px;
}
#u38768 {
  position:absolute;
  left:1035px;
  top:145px;
  width:560px;
  height:1px;
}
#u38769 {
  position:absolute;
  left:2px;
  top:-8px;
  width:556px;
  word-wrap:break-word;
}
#u38770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:870px;
}
#u38770 {
  position:absolute;
  left:1105px;
  top:145px;
  width:1px;
  height:869px;
}
#u38771 {
  position:absolute;
  left:2px;
  top:426px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:870px;
}
#u38772 {
  position:absolute;
  left:1245px;
  top:145px;
  width:1px;
  height:869px;
}
#u38773 {
  position:absolute;
  left:2px;
  top:426px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:870px;
}
#u38774 {
  position:absolute;
  left:1385px;
  top:145px;
  width:1px;
  height:869px;
}
#u38775 {
  position:absolute;
  left:2px;
  top:426px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:870px;
}
#u38776 {
  position:absolute;
  left:1525px;
  top:146px;
  width:1px;
  height:869px;
}
#u38777 {
  position:absolute;
  left:2px;
  top:426px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38778 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38779 {
  position:absolute;
  left:1636px;
  top:72px;
  width:168px;
  height:32px;
}
#u38779_input {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:32px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u38780 {
  position:absolute;
  left:1458px;
  top:72px;
  width:168px;
  height:32px;
}
#u38780_input {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:32px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u38781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:48px;
  background:inherit;
  background-color:rgba(0, 142, 212, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u38781 {
  position:absolute;
  left:1605px;
  top:173px;
  width:36px;
  height:48px;
  opacity:0;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u38781_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:48px;
  background:inherit;
  background-color:rgba(0, 172, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u38781.mouseOver {
}
#u38781_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:48px;
  background:inherit;
  background-color:rgba(221, 221, 221, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u38781.disabled {
}
#u38782 {
  position:absolute;
  left:2px;
  top:17px;
  width:32px;
  word-wrap:break-word;
}
#u38783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:48px;
  background:inherit;
  background-color:rgba(0, 142, 212, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u38783 {
  position:absolute;
  left:1648px;
  top:173px;
  width:36px;
  height:48px;
  opacity:0;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u38783_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:48px;
  background:inherit;
  background-color:rgba(0, 172, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u38783.mouseOver {
}
#u38783_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:48px;
  background:inherit;
  background-color:rgba(221, 221, 221, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u38783.disabled {
}
#u38784 {
  position:absolute;
  left:2px;
  top:17px;
  width:32px;
  word-wrap:break-word;
}
#u38783_ann {
  position:absolute;
  left:1677px;
  top:169px;
  width:1px;
  height:1px;
}
#u38785 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:768px;
  background:inherit;
  background-color:rgba(245, 247, 249, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(187, 187, 187, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38786 {
  position:absolute;
  left:420px;
  top:175px;
  width:1280px;
  height:768px;
}
#u38787 {
  position:absolute;
  left:2px;
  top:376px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38788_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 142, 212, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u38788 {
  position:absolute;
  left:420px;
  top:175px;
  width:1280px;
  height:40px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u38789 {
  position:absolute;
  left:12px;
  top:12px;
  width:1266px;
  word-wrap:break-word;
}
#u38790_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(187, 187, 187, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u38790 {
  position:absolute;
  left:1583px;
  top:892px;
  width:84px;
  height:32px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u38790_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(221, 221, 221, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(187, 187, 187, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u38790.mouseOver {
}
#u38790_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(221, 221, 221, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(187, 187, 187, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u38790.disabled {
}
#u38791 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u38792 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38793 {
  position:absolute;
  left:445px;
  top:236px;
  width:1226px;
  height:638px;
}
#u38793_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:638px;
}
#u38794 {
  position:absolute;
  left:447px;
  top:238px;
  width:1205px;
  height:53px;
}
#u38795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:48px;
}
#u38795 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:48px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u38796 {
  position:absolute;
  left:2px;
  top:16px;
  width:56px;
  word-wrap:break-word;
}
#u38797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:48px;
}
#u38797 {
  position:absolute;
  left:60px;
  top:0px;
  width:200px;
  height:48px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u38798 {
  position:absolute;
  left:2px;
  top:16px;
  width:196px;
  word-wrap:break-word;
}
#u38799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:48px;
}
#u38799 {
  position:absolute;
  left:260px;
  top:0px;
  width:200px;
  height:48px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u38800 {
  position:absolute;
  left:2px;
  top:16px;
  width:196px;
  word-wrap:break-word;
}
#u38801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:48px;
}
#u38801 {
  position:absolute;
  left:460px;
  top:0px;
  width:140px;
  height:48px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u38802 {
  position:absolute;
  left:2px;
  top:16px;
  width:136px;
  word-wrap:break-word;
}
#u38803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:48px;
}
#u38803 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:48px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u38804 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u38805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:48px;
}
#u38805 {
  position:absolute;
  left:700px;
  top:0px;
  width:200px;
  height:48px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u38806 {
  position:absolute;
  left:2px;
  top:16px;
  width:196px;
  word-wrap:break-word;
}
#u38807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:48px;
}
#u38807 {
  position:absolute;
  left:900px;
  top:0px;
  width:100px;
  height:48px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u38808 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u38809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:48px;
}
#u38809 {
  position:absolute;
  left:1000px;
  top:0px;
  width:100px;
  height:48px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u38810 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u38811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:48px;
}
#u38811 {
  position:absolute;
  left:1100px;
  top:0px;
  width:100px;
  height:48px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u38812 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u38813 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u38814 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u38815 {
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:27px;
  background:inherit;
  background-color:rgba(0, 142, 212, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u38816 {
  position:absolute;
  left:1713px;
  top:1040px;
  width:91px;
  height:27px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u38816_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:27px;
  background:inherit;
  background-color:rgba(0, 172, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u38816.mouseOver {
}
#u38816_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:27px;
  background:inherit;
  background-color:rgba(221, 221, 221, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u38816.disabled {
}
#u38817 {
  position:absolute;
  left:2px;
  top:5px;
  width:87px;
  word-wrap:break-word;
}
#u38818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u38818 {
  position:absolute;
  left:1812px;
  top:1039px;
  width:89px;
  height:27px;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u38818_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:27px;
  background:inherit;
  background-color:rgba(221, 221, 221, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u38818.mouseOver {
}
#u38818_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:27px;
  background:inherit;
  background-color:rgba(221, 221, 221, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Regular', '思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u38818.disabled {
}
#u38819 {
  position:absolute;
  left:2px;
  top:5px;
  width:85px;
  word-wrap:break-word;
}
